@model Group5_MusicPlayer.Models.SongList

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SongList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
  @*           <div class="form-group">
                <label asp-for="AddedDate" class="control-label"></label>
                <input asp-for="AddedDate" class="form-control"  value=Date./>
                <span asp-validation-for="AddedDate" class="text-danger"></span>
            </div> *@
@*             <div class="form-group">
                <label asp-for="PlaylistId" class="control-label"></label>
                <select asp-for="PlaylistId" class ="form-control" asp-items="ViewBag.PlaylistId"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="SongId" class="control-label"></label>
                <select asp-for="SongId" class="form-control" asp-items="ViewBag.SongId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PlaylistId" class="control-label"></label>
                @inject IHttpContextAccessor HttpContextAccessor
                @{
                    var playlistId = HttpContextAccessor.HttpContext.Session.GetString("PlayListId");                   
                }
                <input asp-for="PlaylistId" value=@playlistId disabled class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
